
<mat-card style="width: 800px;" align="center" >

<H2>MEDICINES</H2>

<table>

<tr>
    <td> <mat-card style="width: 200px;" >
    <p>image</p>
    
    </mat-card><br>
    <button mat-raised-button color="primary">edit</button>
    <button mat-raised-button color="warn">delete</button>
</td>

<td> <mat-card style="width: 200px;" >
    <p>image</p>
    
    </mat-card><br>
    <button mat-raised-button color="primary">edit</button>
    <button mat-raised-button color="warn">delete</button>
</td>

<td> <mat-card style="width: 200px;" >
    <p>image</p>
    
    </mat-card><br>
    <button mat-raised-button color="primary">edit</button>
    <button mat-raised-button color="warn">delete</button>
</td>

</tr><br><br>

<tr>

    <td> <mat-card style="width: 200px;" >
        <p>image</p>
        
        </mat-card><br>
        <button mat-raised-button color="primary">edit</button>
        <button mat-raised-button color="warn">delete</button>
    </td>

    <td> <mat-card style="width: 200px;" >
        <p>image</p>
        
        </mat-card><br>
        <button mat-raised-button color="primary">edit</button>
        <button mat-raised-button color="warn">delete</button>
    </td>

    <td> <mat-card style="width: 200px;" >
        <p>image</p>
        
        </mat-card><br>
        <button mat-raised-button color="primary">edit</button>
        <button mat-raised-button color="warn">delete</button>
    </td>

</tr>



</table>











</mat-card>