
       <p><img src="../../assets/passport.png" ></p>
          
       <p > ...................NAME HERE........................</p>






        <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">HOME</a>
            </li><br>

            <li class="nav-item">
              <a class="nav-link" href="/addmed">ADD MEDICINE</a>
            </li><br>

            <li class="nav-item">
              <a class="nav-link" href="/viewmed">VIEW MEDICINE</a>
            </li><br>

            <li class="nav-item">
                <a class="nav-link" href="/update">UPDATE STOCK</a>
              </li><br>

              <li class="nav-item">
                <a class="nav-link" href="/pres">PRESCRIPTION</a>
              </li><br>

              <li class="nav-item">
                <a class="nav-link" href="/log">LOGOUT</a>
              </li><br>
            
          </ul>



        
