<mat-card style="width: 800px;" align="center">


  <h2>UPDATE STOCK</h2>

  <form class="example-form" >
      
    
      <table align="center" class="example-full-width" cellspacing="0" ><tr>
        <td><mat-form-field class="example-full-width" appearance="fill"  style="width: 500px;">
          <mat-label> catogory : </mat-label>
         <input  matInput>
        </mat-form-field></td>
        
      </tr></table>
    


      <table align="center" class="example-full-width" cellspacing="0"><tr>
          <td><mat-form-field class="example-full-width" appearance="fill" style="width: 500px;">
            <mat-label> medicine : </mat-label>
            <input matInput>
          </mat-form-field></td>
          
        </tr></table>


        <table align="center" class="example-full-width" cellspacing="0"><tr>
          <td><mat-form-field class="example-full-width" appearance="fill" style="width: 500px;">
            <mat-label> stock : </mat-label>
            <input matInput>
          </mat-form-field></td>

          
          
        </tr></table>
        <button mat-raised-button color="primary">UPDATE</button>
</form>
</mat-card>